name: Sync to Symbeon Labs

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Symbeon Labs
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@github.com:symbeon-labs/docsync.git
          ssh_private_key:
            ${{ secrets.SYMBEON_SSH_KEY }}
